<h1>Questions</h1>

<%= link_to "Sign In", '/auth/:provider/callback' %><br>

<%= link_to "Create a New Question", new_question_path %>

<% @questions.each do |question| %>
  <ul>
    <li><%= link_to "#{question.title}", question_path(question.id) %></li>
  </ul>
<% end %>
